<!DOCTYPE html>
<html lang="en">

  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chat </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/FinalAssignment.css')}}">

    <style type="text/css">
      .flexbox-container
      {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      }
      body
      {
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      }
      input
      {
      width:100%;
      }
      #myTabs
      {
      max-width: 1000px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      border:1px solid rgba(0,0,0,.125);
      }
      #myTab{
        float: left;
        max-width: 300px;
        border-right: 1px solid rgba(0,0,0,.125);
        /*border:1px solid rgba(0,0,0,.125);*/
      }
      #myTab li
      {
        padding:50px;
      }
        @media(max-width: 1204px){
        #myTabs{
          border:0px;
        }
        .flexbox-container
        {
          padding: 50px;
          border:1px solid rgba(0,0,0,.125);
        }
      }
      @media(max-width: 1204px){
        #myTab{
          display:none;
        }
      }
      @media(max-width: 450px){
        #search{
          display:none;
        }
      }
    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('feed')}}"><img style="height:40px" src="/static/img/Hi5logo.png"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <form class="form-inline" action="#">
             <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search">
              </form>
            </li>
          </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <pre class=form-inline>
              <a style="color:white; text-decoration: none!important;" title="Food & Drinks" href="{{ url_for('category',category="food-drink") }}"><br/><i class="fas fa-lg fa-utensils" style="font-size: 1.5em; padding-right:5px;"></i> </a>
              <a style="color:white; text-decoration: none!important;" title="DIY and Crafts" href="{{ url_for('category',category="diy") }}"><br/><i class="fas fa-lg fa-cut" style="font-size: 1.5em; padding-right:5px;"></i>  </a>
              <a style="color:white; text-decoration: none!important;" title="Home Decor" href="{{ url_for('category',category="home-decor") }}"><br/><i class="fas fa-lg fa-home" style="font-size: 1.5em; padding-right:5px;"></i> </a>
              <a style="color:white; text-decoration: none!important;" title="Fashion" href="{{ url_for('category',category="fashion") }}"><br/><i class="fas fa-lg fa-tshirt" style="font-size: 1.5em; padding-right:5px;"></i> </a>
              <a style="color:white; text-decoration: none!important;" title="Quotes" href="{{ url_for('category',category="quotes") }}"><br/><i class="fas fa-lg fa-quote-right" style="font-size: 1.5em; padding-right:5px;"></i>  </a>
              <a style="color:white; text-decoration: none!important;" title="Health and Fitness" href="{{ url_for('category',category="health") }}"><br/><i class="fas fa-lg fa-dumbbell" style="font-size: 1.5em; padding-right:5px;"></i> </a>
              <a style="color:white; text-decoration: none!important;" title="Humor" href="{{ url_for('category',category="humor") }}"><br/><i class="fas fa-lg fa-smile" style="font-size: 1.5em; padding-right:5px;"></i>  </a>
              <a style="color:white; text-decoration: none!important;" title="Travel" href="{{ url_for('category',category="travel") }}"><br/><i class="fas fa-lg fa-helicopter" style="font-size: 1.5em; padding-right:5px;"></i> </a>
              <a style="color:white; text-decoration: none!important;" title="Video Games" href="{{ url_for('category',category="video-games") }}"><br/><i class="fas fa-lg fa-gamepad" style="font-size: 1.5em; padding-right:5px;"></i> </a>
            </pre>
             <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:white; padding-top: 16px"> <i class="fas fa-user"></i></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" class="btn btn-default" href="{{url_for('your_profile')}}">Profile</a>
        <a class="dropdown-item" class="btn btn-default" data-toggle="modal" data-target="#help">Help?</a>
        <a class="dropdown-item" class="btn btn-default" data-toggle="modal" data-target="#about">About</a>
        <a class="dropdown-item" class="btn btn-default" data-toggle="modal" data-target="#logout">Logout</a>
      </div>
      </li>
            <li class="nav-item">
              <a style="color:white;" href="#"><i style="padding-top:20px;" class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!-- flash -->
    <div class="container-fluid" style="min-height:100%">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <!--//flash-->
    <!-- chat -->
    <form action="{{ url_for('chat')}}" method="POST">
    <table class="table-bordered" align="center">
      <tr>
        <td>
    <label><input type="checkbox" name="option" value="food-drink"> <i class="fas fa-lg fa-utensils"></i> Food and Drink</label>
        </td>
        <td>
    <label><input type="checkbox" name="option" value="diy"> <i class="fas fa-lg fa-cut"></i> DIY and Crafts</label>
        </td>
    <td>
    <label><input type="checkbox" name="option" value="home-decor"> <i class="fas fa-lg fa-home"></i> Home Decor</label>
        </td>
      </tr>
      <tr>

        <td>
    <label><input type="checkbox" name="option" value="fashion"> <i class="fas fa-lg fa-tshirt"></i> Fashion</label>
        </td>
    <td>
    <label><input type="checkbox" name="option" value="quotes"> <i class="fas fa-lg fa-quote-right"></i> Quotes</label>
        </td>
        <td>
    <label><input type="checkbox" name="option" value="health"> <i class="fas fa-lg fa-dumbbell"></i> Health and Fitness</label></td>
      </tr>
      <tr>
          <td>
    <label><input type="checkbox" name="option" value="humor"> <i class="fas fa-lg fa-smile"></i> Humor</label>
          </td>
          <td>
    <label><input type="checkbox" name="option" value="travel"> <i class="fas fa-lg fa-helicopter"></i> Travel</label>
          </td>
    <td>
    <label><input type="checkbox" name="option" value="video-games"> <i class="fas fa-lg fa-gamepad"></i> Video Games</label></td>
      </tr>
    </table>
    <input type="submit">
  </form>
		<!-- //chat -->

    <!--Help??-->
<div class="modal" id="help">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">HELP?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        How may we help you?<br>
        Please drop your queries at: xyz@abc.com
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--About-->
<div class="modal" id="about">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ABOUT</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        About Let's Hi5!<br>
        Let's Hi5! is a website that helps you find like minded people with common interests!!
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--Logout-->
<div class="modal" id="logout">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Log out</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to log out?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="SignIn.html" class="btn btn-primary">Logout</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--Hi5-->
<div class="modal" id="hi5">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Great!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        You've just Hi5ed! Do you wish to connect?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a class="btn btn-primary" data-toggle="modal" data-dismiss="modal" class="open-btn" id="addClass">Yeah!</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Nah!</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--Block User-->
<div class="modal" id="block">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Block User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        The user will no longer be able to see your posts or connect with you. Are you sure you want to block the user?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="FinalAssignment.html" class="btn btn-primary">Yes</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
<!---->


<!--Settings-->
  <div class="modal" id="settings">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <a data-toggle="modal" data-target="#hi5" data-dismiss="modal">Hi5 and Connect!</a><br/>
        <a data-toggle="modal" data-target="#block" data-dismiss="modal">Block User</a><br/>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


    <script src="/static/css/vendor/jquery/jquery.min.js"></script>
    <script src="/static/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
    </script>
<!--  socketio -->
<script type="text/javascript">
$(document).ready(function() {

	var socket = io.connect('http://127.0.0.1:5000');
	socket.on('connect', function() {
		socket.send('{{ session['username'] }}'+' has connected!');
	});

	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg+'</li>');
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});

});

</script>
<!-- //socketio -->
  </body>
</html>
