<!DOCTYPE html>
<html lang="en">

  <head>

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Settings</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="FinalAssignment.css">

    <style type="text/css">
      .flexbox-container 
      {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      }
      body
      {
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      }
      input
      {
      width:100%;
      }
      #myTabs
      {
      max-width: 1000px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      border:1px solid rgba(0,0,0,.125);
      }
      #myTab{
        float: left;
        max-width: 300px;
        border-right: 1px solid rgba(0,0,0,.125);
        /*border:1px solid rgba(0,0,0,.125);*/
      }
      #myTab li
      {
        padding:50px;
      }
        @media(max-width: 1204px){
        #myTabs{
          border:0px;
        }
        .flexbox-container
        {
          padding: 50px;
          border:1px solid rgba(0,0,0,.125);
        }
      }
      @media(max-width: 1204px){
        #myTab{
          display:none;
        }
      }
      @media(max-width: 450px){
        #search{
          display:none;
        }
      }
    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="FinalAssignment.html"><img style="height:40px" src="Hi5logo.png"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <form class="form-inline" action="#">
             <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search">
              </form>
            </li>
          </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <pre class=form-inline>
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-utensils"></i> </a>  
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-cut"></i>  </a>
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-home"></i> </a>
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-tshirt"></i> </a>
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-quote-right"></i>  </a>
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-dumbbell"></i> </a>
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-smile"></i>  </a>
            <a style="color:white;" href="CategoryPage.html"><br/><i class="fas fa-lg fa-helicopter"></i> </a>
            </pre>
             <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:white; padding-top: 16px"> <i class="fas fa-user"></i></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" class="btn btn-default" href="Profile.html">Profile</a>
        <a class="dropdown-item" class="btn btn-default" data-toggle="modal" data-target="#help">Help?</a>
        <a class="dropdown-item" class="btn btn-default" data-toggle="modal" data-target="#about">About</a>
        <a class="dropdown-item" class="btn btn-default" data-toggle="modal" data-target="#logout">Logout</a>
      </div>
      </li>
            <li class="nav-item">
              <a style="color:white;" href="chat.html"><i style="padding-top:20px;" class="fas fa-envelope"></i></a>  
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" id="myTabs">
    <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="changeprofilephoto" data-toggle="tab" href="#profilephoto" role="tab"  style="font-size: 15px;">Change Profile Photo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="changeusername" data-toggle="tab" href="#username" role="tab"  style="font-size: 15px;">Change Username</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="changepassword" data-toggle="tab" href="#password" role="tab"  style="font-size: 15px;">Change Password</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="profilephoto" role="tabpanel">
        <div class="flexbox-container">

  <!-- <div class="card" style="padding: 50px;"> -->
    <!-- <div class="card-body" style="text-align:center;"> -->
      <h3 style="color:gray">Change Profile Photo</h3>
        <form action="Settings.html">
        <br>
        <input type="file" name="profilephoto" style="margin-bottom: 10px" class="form-control input-md" required>
        <br>
        <input type="submit" class="btn btn-primary" name="submit">
        <br>
        </form>
      <!-- </div> -->
  <!-- </div> -->

  </div>
  </div>
  
  <div class="tab-pane fade" id="username" role="tabpanel">
    <div class="flexbox-container">

  <!-- <div class="card" style="padding: 50px;"> -->
    <!-- <div class="card-body" style="text-align:center;"> -->
      <h3 style="color:gray">Change Username</h3>
        <form action="Settings.html">
        <br>
        <input type="text" name="username" placeholder="Current Userame" style="margin-bottom: 10px" class="form-control input-md" required>
        <br>
        <input type="text" name="username" placeholder="New Userame" style="margin-bottom: 10px" class="form-control input-md" required>
        <br>
        <input type="submit" class="btn btn-primary" name="submit">
        <br>
        </form>
      <!-- </div> -->
  <!-- </div> -->

  </div>
  </div>

  <div class="tab-pane fade" id="password" role="tabpanel">
    
<div class="flexbox-container">

  <!-- <div class="card" style="padding: 50px;">
    <div class="card-body" style="text-align:center;"> -->
      <h3 style="color:gray">Change Password</h3>
        <form action="Settings.html">
        <br>
        <input type="password" name="password" placeholder="Current Password" style="margin-bottom: 10px" class="form-control input-md" required>
        <br>
        <input type="password" name="password" placeholder="New Password" style="margin-bottom: 10px" class="form-control input-md" required>
        <br>
        <input type="password" name="password" placeholder="Reenter New Password" style="margin-bottom: 10px" class="form-control input-md" required>
        <br>
        <input type="submit" class="btn btn-primary" name="submit">
        <br>
        </form>
     <!--  </div> -->
  <!-- </div> -->

  </div>
  </div>

  </div>
</div>

    <!--Help??-->
<div class="modal" id="help">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">HELP?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        How may we help you?<br>
        Please drop your queries at: xyz@abc.com
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--About-->
<div class="modal" id="about">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ABOUT</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        About Let's Hi5!<br>
        Let's Hi5! is a website that helps you find like minded people with common interests!!
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--Logout-->
<div class="modal" id="logout">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Log out</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to log out?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="SignIn.html" class="btn btn-primary">Logout</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--Hi5-->
<div class="modal" id="hi5">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Great!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        You've just Hi5ed! Do you wish to connect?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a class="btn btn-primary" data-toggle="modal" data-dismiss="modal" class="open-btn" id="addClass">Yeah!</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Nah!</button>
      </div>

    </div>
  </div>
</div>
<!---->

<!--Block User-->
<div class="modal" id="block">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Block User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        The user will no longer be able to see your posts or connect with you. Are you sure you want to block the user?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="FinalAssignment.html" class="btn btn-primary">Yes</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>
<!---->


<!--Settings-->
  <div class="modal" id="settings">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <a data-toggle="modal" data-target="#hi5" data-dismiss="modal">Hi5 and Connect!</a><br/>
        <a data-toggle="modal" data-target="#block" data-dismiss="modal">Block User</a><br/>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


   <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
      $(function(){
$("#addClass").click(function () {
  $('#sidebar_secondary').addClass('popup-box-on');
    });
  
    $("#removeClass").click(function () {
  $('#sidebar_secondary').removeClass('popup-box-on');
    });
})
      $(document).ready(function(){
    $("#changeprofilephoto").click(function(){
        $("#profilephoto").attr("class", "tab-pane fade show active");
    });
});

      $(d
    $("#changeusername").click(function(){
        $("#username").attr("class", "tab-pane fade show active");
    });
});

       $(document).ready(function(){
    $("#changepassword").click(function(){
        $("#password").attr("class", "tab-pane fade show active");
    });
});

    </script>

  </body>
</html>
